
.add-task-btn,  .rm-todo-btn, .edit-todo-btn, .new-elem-input {
    margin-top: 1rem;
}

.btn {
    margin-left: 1rem;
}

.new-elem-input {
    display: inline-block;
    width: 50%;
    margin-left: 1.5rem;
}

.todo-header {
    display: inline-block;
}

.task, .buttons {
    display: inline-block;
    cursor: pointer;
    /* font-weight: bolder; */
}

.task[complete], .todo-header[complete] {
    text-decoration: line-through;
}

.task-group {
    border: 1px solid black;
    margin-bottom: 3px;
}

.task-group > .row {
    margin-left: 0;
}

.task-rm, .task-edit {
    cursor: pointer;
}

div[contenteditable="true"], .todo-header[contenteditable="true"] {
  background-color: rgba(39, 255, 0, 0.35);
}
